<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align:center"><%= recipe.title %></h1>
             <div class="thumbnail">
                 
                 <img class="img-responsive" src="<%= recipe.image %>">
                 <div class="caption">
                <p>
                     <em>Submitted by <%= recipe.author.username %></em>
                 </p>
                 <p>
                     <%= recipe.description %>
                 </p>
                 <% if(currentUser && recipe.author.id.equals(currentUser._id)){ %>
                     <a class="btn btn-success btn-xs" href="/recipes/<%=recipe._id%>/edit">Edit</a>
                     <form class="delete-form" action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
                         <button class="btn btn-danger btn-xs">Delete</button>
                     </form>
                 <% } %>
                 </div>
                     
             </div>
             <div class="well">
                 <div class="text-right">
                    <a class="btn btn-primary" href="/recipes/<%= recipe._id %>/comments/new">Add comment</a>    
                 </div>
                <% recipe.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <span class="pull-right">17th April 2018</span>

                            <strong><p><%=comment.author.username%></p></strong>
                            
                            <p><%=comment.text%></p>
                            
                            <a class="btn btn-warning btn-xs" 
                                href="/recipes/<%=recipe._id%>/comments/<%=comment._id%>/edit">
                                Edit comment
                            </a>
                            <form class="delete-form" action="/recipes/<%=recipe._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete comment">
                                <!--<a class="btn btn-xs btn-danger">Delete comment</a>-->
                            </form>
                            
                        </div>
                    </div>
                <% }); %>
             </div>
        </div>
    </div>
   

</div>





<% include ../partials/footer %>