<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align:center"><%= recipe.title %></h1>
             <div class="thumbnail">
                 
                 <img class="img-responsive" src="<%= recipe.image %>">
                 <p class="caption">
                     <em>Submitted by <%= recipe.author.username %></em>
                 </p>
                 <p class="caption">
                     <%= recipe.description %>
                 </p>
                   
             </div>
             <div class="well">
                 <div class="text-right">
                    <a class="btn btn-primary" href="/recipes/<%= recipe._id %>/comments/new">Add comment</a>    
                 </div>
                <% recipe.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <span class="pull-right">17th April 2018</span>
                            <strong><p><%=comment.author%></p></strong>
                            
                            <p><%=comment.text%></p>
                            
                        </div>
                    </div>
                <% }); %>
             </div>
        </div>
    </div>
   

</div>





<% include ../partials/footer %>